apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: notification-service
  labels:
    app: notification-service
spec:
  type: NodePort
  selector:
    app: notification-service
  ports:
    - name: http
      port: 80
      targetPort: 8080
      nodePort: 30080
      protocol: TCP
  sessionAffinity: ClientIP